<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Seonghyeon Nam</a></h1>
            <p>CS Ph.D. Student<br />
            Yonsei University</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="#news">News</a></li>
                <li><a href="#bio">Bio</a></li>
                <li><a href="#publication">Publication</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                {% if site.github_username %}
                <li><a href="https://github.com/{{ site.github_username }}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
                {% endif %}
                {% if site.linkedin_username %}
                <li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                {% endif %}
                {% if site.facebook_username %}
                <li><a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                {% endif %}
                {% if site.twitter_username %}
                <li><a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                {% endif %}
                {% if site.instagram_username %}
                <li><a href="https://instagram.com/{{ site.facebook_username }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                {% endif %}
                {% if site.email %}
                <li><a href="mailto:{{ site.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
                {% endif %}
            </ul>
        </footer>
    </section>

